 <div id="heading" align="center">View All Accounts</div>
 <div>
<div class="input-field">
 			<i class="material-icons prefix">search</i>
          <input id="icon_prefix" type="text" ng-model="search" >
          <label for="icon_prefix">Search</label>
          </div>
<br>
 <table>
	<tr>
		<th><a href="" style="text-decoration:none" ng-click="sortField = 'accountId'; reverse=!reverse">Account Id</a>
		<span ng-show="!reverse"><i class="material-icons prefix">arrow_drop_up</i></span><span ng-show="reverse">
		<i class="material-icons prefix">arrow_drop_down</i></span></span>
		</th>
		<th><a href="" style="text-decoration:none" ng-click="sortField = 'customerId'; reverse=!reverse">Customer Id</a>
		<span ng-show="!reverse"><i class="material-icons prefix">arrow_drop_up</i></span><span ng-show="reverse">
		<i class="material-icons prefix">arrow_drop_down</i></span></span>
		</th>
		<th><a href="" style="text-decoration:none" ng-click="sortField = 'accountType'; reverse=!reverse">Type</a>
		<span ng-show="!reverse"><i class="material-icons prefix">arrow_drop_up</i></span><span ng-show="reverse">
		<i class="material-icons prefix">arrow_drop_down</i></span></span>
		</th>
		<th><a href="" style="text-decoration:none" ng-click="sortField = 'balance'; reverse=!reverse">Balance</a>
		<span ng-show="!reverse"><i class="material-icons prefix">arrow_drop_up</i></span><span ng-show="reverse">
		<i class="material-icons prefix">arrow_drop_down</i></span></span>
		</th>
		<th><a href="" style="text-decoration:none" ng-click="sortField = 'creationDate'; reverse=!reverse">Creation Date</a>
		<span ng-show="!reverse"><i class="material-icons prefix">arrow_drop_up</i></span><span ng-show="reverse">
		<i class="material-icons prefix">arrow_drop_down</i></span></span>
		</th>
		<th>DELETE</th>
	</tr>
	<tr dir-paginate="x in tableData | orderBy:sortField:reverse |filter: search | itemsPerPage:5">
		<td>{{x.accountId}}</td>
		<td>{{x.customerId}}</td>
		<td>{{x.accountType}}</td>
		<td>{{x.balance}}</td>
		<td>{{x.creationDate}}</td>
		<td><a class="waves-effect waves-light btn" ng-click="deletion(x.accountId)">DELETE</a></td>
	</tr>
</table>
<dir-pagination-controls max-size="5"> </dir-pagination-controls>
</div>